.essaie{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: stretch;
  // border-bottom: 1px solid  #8d8888;
}

.essaie ul{
  list-style-type: none;
}

.essaie ul li{
  // float: left;
  width: 100%;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 16px;
}

.essaie ul::after{
  content: "";
  display: table;
  clear: both;
}

.essaie a{
  display: block;
  text-decoration: none;
  color:  #424242;
  letter-spacing: 1px;
  word-spacing: 2px;
  border-bottom: 2px solid transparent;
  // padding: 20px 20px;
}

.essaie a:hover{
  color: #AEBDAC;
  // border-bottom: 2px solid #AEBDAC;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 200%;
  z-index: 1000;
}
.essaie > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
  position: absolute;
}
.sous a{
  // padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  // content:" ▼";
  font-size: 12px;
}

.style_logo{
  margin-bottom: 8px;
}

nav{
  border-bottom: 1px solid  #8d8888;
  position: sticky;
  top: 0px;
  background-color: white;
}
