
    <div class="imagehome">
      <div class="imagehometext">
        <h1><strong>La rencontre de l'émotion</strong></h1>
        <h2><i>Maison familiale de mère en fille depuis 30 ans</i></h2>
      </div>
    </div>
  <%# <div class="container">
  </div> %>
