
    <div class="imagehome">
      <div class="imagehometext">
        <h1><strong>La rencontre de l'émotion</strong></h1>
        <h2><i>Maison familiale de mère en fille depuis 30 ans</i></h2>
      </div>
    </div>
  <div class="container">
      <h1 class= "main_title">Notre SAVOIR-FAIRE</h1>

      <div class="home_services">
        <div class="home_card_info">
          <div class="home_card_texte">
            <h3>UN SERVICE SUR-MESURE POUR PARTICULIERS & PROFESSIONNELS</h3>
            <p>Depuis plus de 30 ans nous vous accompagnons dans vos projets, pour créer des décors à votre image, dans les petites attentions de tous les jours comme dans les événements les plus importants.</p>
          </div>
          <div class="black-btn">
            <%= link_to "Nos services", service_path %>
          </div>
        </div>
        <div class="home_card_photo">
              <%= image_tag "service.jpg"%>
          </div>
      </div>

      <div class="home_services">
        <div class="home_card_photo">
              <%= image_tag "bouquethome.png"%>
          </div>
        <div class="home_card_info">
          <div class="home_card_texte">
            <h3>DES COMPOSITIONS ET BOUQUETS A VOTRE IMAGE</h3>
            <p>Selon la saison, vos fleurs préférées et de vos couleurs favorites, notre équipe de fleuristes professionnels saura vous conseiller pour réaliser les compositions florales et bouquets de vos souhaits.</p>
          </div>
          <div class="black-btn">
            <%= link_to "Nos bouquets", flowers_path %>
          </div>
        </div>
      </div>
  </div>
