
    <div class="imagehome">
      <div class="imagehometext">
        <h1><strong>La rencontre de l'émotion</strong></h1>
        <h2><i>Maison familiale de mère en fille depuis 30 ans</i></h2>
      </div>
    </div>
  <div class="container">
      <h1 id= "savoir_faire">Notre SAVOIR-FAIRE</h1>

      <div class="services">
        <div class="home_card_info">
          <div class="home_card_texte">
            <h3>UN SERVICE SUR-MESURE POUR PARTICULIERS & PROFESSIONNELS</h3>
            <p>Depuis plus de 30 ans nous vous accompagnons dans vos projets, pour créer des décors à votre image, dans les petites attentions de tous les jours comme dans les événements les plus importants.</p>
          </div>
          <div class="black-btn">
            <%= link_to "Nos services", service_path %>
          </div>
        </div>
        <div class="home_card_photo">
              <%= image_tag "service.jpg"%>
          </div>
      </div>
  </div>
