<div class="footer">

    <div class="footer-links">
      <a href="https://www.instagram.com/amarylice_lyon/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/clemence.osswald.35"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="contact">
      <p>Contact : 04 78 37 38 29 </p>
      <p>info@amarylice.com</p>
      <%= link_to "Nous contacter", new_contact_path %>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i>
    </div>
</div>
