 <h1 class="main_title">Notre boutique</h1>

 <div class="container">
    <div class="four-green-btn">
        <div class="green-btn">
            <%= link_to "Nos fleurs", flowers_path %>
        </div>
        <div class="green-btn">
            <%= link_to "Nos luminaires", flowers_path %>
        </div>
        <div class="green-btn">
            <%= link_to "Objets et vases", flowers_path %>
        </div>
        <div class="green-btn">
            <%= link_to "Ateliers DIY", flowers_path %>
        </div>
    </div>
  </div>

  <div class="boutique-text">
      <h6>Livraison & retrait en magasin</h6>
    </div>
