<h1 class="main_title">DISCUTONS !</h1>

<div class="container">

   <div class="home_services">
        <div class="home_card_info">
          <div class="home_card_texte">
            <p>Si vous avez des questions ou des demandes spéciales, n'hésitez pas à nous contacter ou à remplir ce formulaire.</p>
            <p>AMARYLICE</p>
            <p>20 quai Gailleton</p>
            <p>69002 LYON</p>
            <p>Tél : 04 78 37 38 29</p>
            <p>E-mail : info@amarylice.com</p>
          </div>
        </div>
        <div class="home_card_photo">
              <%= image_tag "service.jpg"%>
          </div>
      </div>

</div>
