<div class="container">

    <h1 class="main_title">Merci pour votre message ! </h1>
    <h3 id="msg-text">Nous nous engageons à vous répondre dans les plus bref delais</h3>
    <br>
    <h3 id="msg-text">A bientôt chez Amarylice</h3>

    <div class="image_contact">
      <%= image_tag "home.jpg"%>
    </div>

</div>
