#user_email {
  border-radius: 25px;
  margin-left: 65px;
  width: 30vw;
}

#user_password {
  border-radius: 25px;
  margin-left: 65px;
  width: 30vw;
}

#user_remember_me{
  margin-left: 65px;
}

.form-session-contact{
  background-image: url('home.jpg');
  opacity: 0.7;
  filter: sepia(40%);
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 50%;
  border: 1px solid #424242;
  padding: 40px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-bottom: 16px;
  margin-top: 20px;
}

.form-submit-button{
  color: #424242 !important;
  border: 5px solid #424242 !important;
  padding: 8px 24px !important;
  margin-top: 24px !important;
  font-size: 20px !important;
  margin-left: 12vw !important;
  letter-spacing: 2px !important;
  word-spacing: 4px !important;
  font-weight: bold !important;
  text-decoration: none !important;
}


.form-submit-button:hover{
  color: white !important;
  background-color: #AEBDAC !important;
  border: 5px solid  #AEBDAC !important;
  padding: 8px 24px !important;
  margin-top: 24px !important;
  font-size: 20px !important;
  margin-left: 12vw !important;
  letter-spacing: 2px !important;
  word-spacing: 4px !important;
  font-weight: bold !important;
  text-decoration: none !important;
}
