.service-text h5{
  color:  #AEBDAC;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 36px;
  padding-left: 44px;
  padding-right: 44px;
}


.two-photos {
  position: static;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-bottom: 16px;
}


.three-photos{
  position: static;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-bottom: 16px;
}


.abonnement-photos img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.abonnement-photos img:hover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 90%;
  filter: sepia(50%);
}
