// Place all the styles related to the flowers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.all-flowers{
  position: static;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  height: auto;
  width: 100%;
  min-height: auto;

}

.card-body {
  color: #424242;
  padding-top: 4vw;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.card-image img{
  height: 100%;
  width: auto;
  object-fit: cover;
  align-self: auto;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn-accueil{
  text-decoration: none !important;
  color: #424242;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.validate-btn{
  color: white !important;
  background-color: #839C80;
  border: 5px solid  #839C80;
  padding: 8px 16px;
  margin-top: 24px;
  font-size: 18px;
  // margin-left: 12vw;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: bold;
  text-decoration: none !important;
}


.validate-btn:hover{
  color: white !important;
  background-color: #AEBDAC;
  border: 5px solid  #AEBDAC;
  padding: 8px 16px;
  margin-top: 24px;
  font-size: 18px;
  // margin-left: 12vw;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: bold;
  text-decoration: none !important;
}
