// Place all the styles related to the flowers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.all-flowers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 16%;
  padding-left: 3vw;
  padding-right: 3vw;
}
